In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('labels.csv')

In [3]:
data.shape

(27000, 12)

In [4]:
data.columns

Index(['BLEU-1', 'BLEU-2', 'BLEU-3', 'BLEU-4', 'CIDEr', 'METEOR',
       'generated_caption', 'image_id', 'chair_hallucinated_objects_count',
       'chair_hallucinated_objects_list', 'chair_has_hallucination',
       'chair_mentioned_objects_count'],
      dtype='object')

In [5]:
data.head()

,BLEU-1,BLEU-2,BLEU-3,BLEU-4,CIDEr,METEOR,generated_caption,image_id,chair_hallucinated_objects_count,chair_hallucinated_objects_list,chair_has_hallucination,chair_mentioned_objects_count
0,0.387097,0.278243,0.220210,1.661866e-01,0.001916,0.328176,A group of people are waiting at a train stati...,COCO_train2014_000000540082,0,NaN,0,2
1,0.450000,0.153897,0.000001,2.966090e-09,0.145545,0.229827,A large brown dog is playfully biting a small ...,COCO_train2014_000000540092,0,NaN,0,1
2,0.666667,0.408248,0.287685,4.463236e-05,1.068260,0.232301,A restaurant with a long bar and several tables.,COCO_train2014_000000540097,0,NaN,0,1
3,0.900000,0.707107,0.396850,5.466326e-05,0.974929,0.345303,A plate of food with broccoli and cheese on top.,COCO_train2014_000000540100,0,NaN,0,1
4,0.500000,0.316228,0.192586,2.722589e-05,0.354496,0.255277,A clock tower with a gold and black clock face...,COCO_train2014_000000540103,0,NaN,0,1

In [6]:
data.describe()

,BLEU-1,BLEU-2,BLEU-3,BLEU-4,CIDEr,METEOR,chair_hallucinated_objects_count,chair_has_hallucination,chair_mentioned_objects_count
count,27000.000000,2.700000e+04,2.700000e+04,2.700000e+04,2.700000e+04,27000.000000,27000.000000,27000.000000,27000.000000
mean,0.669780,4.975785e-01,3.285126e-01,1.819649e-01,8.325833e-01,0.305340,0.213704,0.170037,1.657815
std,0.164550,1.875663e-01,2.191731e-01,2.173556e-01,6.576043e-01,0.089988,0.537939,0.375672,0.904236
min,0.133333,2.312486e-09,5.508113e-12,2.709641e-13,1.669540e-08,0.044077,0.000000,0.000000,0.000000
25%,0.555556,3.638034e-01,1.974023e-01,2.829560e-05,3.609666e-01,0.243674,0.000000,0.000000,1.000000
50%,0.666667,4.924058e-01,3.313008e-01,6.238986e-05,6.896442e-01,0.298988,0.000000,0.000000,2.000000
75%,0.785714,6.201737e-01,4.716122e-01,3.405205e-01,1.148262e+00,0.360505,0.000000,0.000000,2.000000
max,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,6.461902e+00,1.000000,7.000000,1.000000,8.000000

In [8]:
data.chair_hallucinated_objects_count.value_counts()

chair_hallucinated_objects_count
0    22409
1     3727
2      653
3      138
4       50
5       16
6        6
7        1
Name: count, dtype: int64

In [9]:
data.chair_has_hallucination.value_counts()

chair_has_hallucination
0    22409
1     4591
Name: count, dtype: int64

In [10]:
data.chair_mentioned_objects_count.value_counts()

chair_mentioned_objects_count
2    10615
1    10594
3     3319
0     1789
4      511
5      115
6       41
7       13
8        3
Name: count, dtype: int64

In [12]:
data.chair_hallucinated_objects_list.info()

<class 'pandas.core.series.Series'>
RangeIndex: 27000 entries, 0 to 26999
Series name: chair_hallucinated_objects_list
Non-Null Count  Dtype
--------------  -----
4591 non-null   object
dtypes: object(1)
memory usage: 211.1+ KB

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27000 entries, 0 to 26999
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   BLEU-1                            27000 non-null  float64
 1   BLEU-2                            27000 non-null  float64
 2   BLEU-3                            27000 non-null  float64
 3   BLEU-4                            27000 non-null  float64
 4   CIDEr                             27000 non-null  float64
 5   METEOR                            27000 non-null  float64
 6   generated_caption                 27000 non-null  object
 7   image_id                          27000 non-null  object
 8   chair_hallucinated_objects_count  27000 non-null  int64
 9   chair_hallucinated_objects_list   4591 non-null   object
 10  chair_has_hallucination           27000 non-null  int64
 11  chair_mentioned_objects_count     27000 non-null  int64
dtypes: float64(6), int64(3), object(3)
memory usage: 2.5+ MB